a.active {
    color: aliceblue;
}

ul li a {
    color: aquamarine;
}

ul li a:hover {
    color: coral;
}

.product-item {
    color: black;
}

.product-item:hover {
    color: lightblue;
}

.product-card {
    width: 31%;
    float: left;
    margin: 10px;
}

.div_to {
    overflow: hidden
}

.DetailsProduct {
    width: 30%;
    position: relative;
    margin-left: 400px;
    padding-top: 50px;
    float: left;
}


@media only screen and (max-width: 63.9375em) {
    .product-card {
        width: 40%;
    }
    .DetailsProduct {
        margin: 0px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .product-card {
        width: 60%;
        margin-left: 70px;
    }   
}
